
[submodule "ecg_robot_code"]
	path = ecg_robot_code
	url = https://github.com/icsi-berkeley/ecg_robot_code
[submodule "ecg_grammars"]
	path = ecg_grammars
	url = https://github.com/icsi-berkeley/ecg_ecg_grammars
[submodule "ecg_framework_code"]
	path = ecg_framework_code
	url = https://github.com/icsi-berkeley/ecg_framework_code
