[submodule "framework_code"]
	path = framework_code
	url = https://github.com/icsi-berkeley/framework_code
[submodule "robot-code"]
	path = robot-code
	url = https://github.com/icsi-berkeley/robot-code
[submodule "ecg-grammars"]
	path = ecg-grammars
	url = https://github.com/icsi-berkeley/ecg-grammars
